#wrapper {
    margin: 30px auto 0;
}
#files {
    max-height: 400px;
    /*
    overflow-y: scroll;
    padding-right: 5px;
    */
}
#trash {
    position: relative;
    right: 50px;
}
textarea {
    height: 200px;
}
